* {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

a:hover {
    text-decoration: none;
}

.row {
    margin: 0;
}

h2.title {
    line-height: 2;
    position: relative;
}

h2.title::after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 60px;
    top: 0;
    background: #6aca44;
    border-radius: 20px;
}

.navbar-light .navbar-brand {
    color: #6aca44;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.productos h2.title {
    text-align: center;
}

.productos h2.title::after,
.contacto h2.title::after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 60px;
    top: 0;
    background: #6aca44;
    border-radius: 20px;
    left: calc(50% - 30px);
}

.productos .icon img {
    width: 130px;
    height: 110px;
}

.contacto form button {
    background: #2c6e49;
    width: 150px;
    border: none;
}

.contacto li {
    list-style: none;
    text-align: center;
    font-size: 1.1rem;
}

.contacto li a {
    color: #2c6e49;
}

.contacto ul li:nth-child(odd) {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 18px 0 0;
}

.contacto .redes img {
    width: 40px;
    display: block;
    margin: 0 10px;
}

footer {
    background: #0F2009;
}

footer a,
footer p {
    color: #fff;
    margin: 0 15px;
}

footer a:hover {
    color: #6aca44;
}